body {
    background-color:#2d425e;
}

nav {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin: 30px 20px;
    font-size: 20px;

}

li a {
    /*color: gray;*/
    color:lightgray;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: #afbbca27;
    opacity: 80%;
}

#portfolio {
    font-size: 60px;
}

.software_div {
    margin-top: 50px;
    text-align: center;
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    float: left;
}

#software_text {
    font-size: 70px;
    width: 50%;
    font-weight: bold;
    /*color: #383838;*/
    color: white;
    text-align: center;
    margin: 50px auto;
}

#software_port {
    font-size: 30px;
    font-weight: bold;
}

.bigimg_div {
    float: right;
    width: 50%;
    height: 90%;   
}

#rightimg {
    width: 90%;
    height: 100%px;
}

a {
    color: rgb(250, 100, 45);
    overflow: hidden;
    text-decoration: none;
}
